/* Styling the Header */

header {
  background-color: #444;
  padding: 40px;
}

.header-content a img{
  float: left;
  margin-top: -28px;
  margin-left: -28px;
  margin-bottom: 10px;
  width: 50px;
}

.header-content h1 {
  float: left;
  margin-top: -10px;
  margin-left: 10px;
  font-family: Arial;
  font-size: 20px;
  color: #777;
}

/* Styling Nav and Hamburger Menu */

.icon-menu {
  margin-top: -68px;
  margin-right: 15px;
  background-color: #444;
  color: #777;
}

.main-nav ul {
  position: absolute;
  list-style: none;
  background-color: black;
  width: 480px;
}

nav ul li{
  display: none;
  padding: 20px;
}

nav ul li a {
  font-family: Arial;
  text-decoration: none;
  font-size: 15px;
  color: white;
}

main {
  clear:both;
}

/* Styling Book View Container */

.book-view-container {
  padding: 10px;
}

.book-container img {
  width: 60%;
  display: block;
  margin: 0 auto;
}

.book-overlay, .details-link {
  display: block;
  opacity: .7;
  width: 460px;
  text-align: center;
}

.book-overlay h3 {
  margin-top: 5px;
  font-family: Arial;
  font-size:20px;
}

.book-overlay p {
  margin-top: 5px;
  font-size:15px;
  text-align: center;
}

.details-link {
  text-decoration: none;
  padding: 10px;
  width: 80px;
  color: black;
}

.book-items button {
  display: block;
  margin: 0 auto;
  margin-top: 10px;
  margin-bottom: 20px;
}

/* Styling Details Container */

.view-title {
  padding-top: 20px;
  padding-left: 10px;
}

.view-title h3 {
  float: left;
  margin-bottom: 5px;
  font-family: Arial;
  font-size: 25px;
}

#detail-author {
  clear: both;
  float: left;
  margin-top: 5px;
  font-size: 15px;
}

#detail-isbn {
  float: right;
  margin-right: 10px;
}

.view-title img {
  clear: both;
  display: block;
  float: left;
  padding-top: 20px;
  padding-right: 10px;
  width: 200px;
}

#detail-description {
  margin-top: 60px;
  padding: 5px;
  text-align: justify;
}

#update-book {
  display: block;
  float: right;
  padding: 10px;
  margin-top: 30px;
  margin-left: 80px;
  margin-right: 10px;
  font-size: 20px;
  border: none;
  width: 150px;
}

#delete-book {
  display: block;
  float: right;
  padding: 10px;
  font-size: 20px;
  background-color: black;
  color: white;
  border: none;
  width: 150px;
  margin-top: 30px;
  margin-right: 85px;
}

/* Styling the Form */

.create-view h2 {
  margin-left: 20px;
  padding-top: 40px;
  margin-bottom: 20px;
}

form input, textarea {
  display: block;
  margin: 40px auto;
  width: 400px;
  padding: 10px;
  margin-bottom: -15px;
}

#new-book {
  float: right;
  margin-right: 20px;
  margin-top: 50px;
  padding: 20px;
  background-color: black;
  color: white;
  border: none;
  border-radius: 5px;
}
